*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

body{
    background-color: var(--Very-Light-Gray);
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.header-info{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;

}

.title{
    margin: 1em 0 .3em;
    max-width: 500px;
    color: var(--Very-Dark-Blue);
    font-size: 2rem;
    font-weight: 200;
}

.title--color{
    font-weight: 600;
}

.description{
    max-width: 500px;
    color: var(--Grayish-Blue)
}

.cards-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100vh;
    margin:  3rem auto;
}

.card{
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    width: 330px;
    height: 230px;
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 5px 10px 4px rgba(0, 0, 0, .2);
}

.card-title{
    margin-bottom: .5em;
    color: var(--Very-Dark-Blue);
    font-size: 1.2  rem;
}

.card-desc{
    color: var(--Grayish-Blue);
}

.img-container{
    margin-top: auto;
    text-align: right;
    padding-right: 1rem;
}

.card--cyan{
    border-top: 3px solid var(--Cyan);
    top: 20%;
    left: -2%;
}

.card--red{
    border-top: 3px solid var(--Red);
}

.card--yellow{
    border-top: 3px solid var(--Orange);
    bottom: 25%;
}   

.card--blue{
    border-top: 3px solid var(--Blue);
    right: -2%;
    top: 20%
} 

@media screen and (max-width: 1000px){
    .cards-container{
        align-content: center;
        gap: 20px
    }

    .card{
        position: static;
    }

    .title{
        font-size: 1.5rem;
    }

    .description{
        width: 80%;
    }
}



